@{
    ViewBag.Title = "IndexCoachShav";
    Layout = "~/Views/CoachShav/LayoutMaster.cshtml";
}

<div class="banner-section">
		<div class="container">
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider">
						 <li>	 
							<div class="caption">
							<div class="col-md-6 cap-left wow fadeInDownBig animated animated" data-wow-delay="0.8s">
								<p>"A Champion is someone who gets up when they can't" - Jack Dempsey</p>
					
							</div>
							</div>
						</li>
						 <li>	 
							<div class="caption">
							<div class="col-md-6 cap-left wow fadeInDownBig animated animated" data-wow-delay="0.8s">
								<p>If it is important for you, you will find a way else you will find an excuse</p>
								
							</div>
							</div>
						 </li>
						<li>	 
							<div class="caption">
							<div class="col-md-6 cap-left wow fadeInDownBig animated animated" data-wow-delay="0.8s">
								<p>Don't wish for it , Work for it</p>
								
							</div>
							</div>
							
						 </li>
					</ul>
				</div>
			</div>
		</div>
	</div>