@{
    ViewBag.Title = "Training";
    Layout = "~/Views/CoachShav/LayoutMaster.cshtml";
}

<h2>Training</h2>




  <div class="container" style="background-image:url(~/images/contact.jpg)">
    
    <a href="/CoachShav/TrainingCreate"><div class="btn btn-primary">Upload</div></a>
    <a href ="/CoachShav/TrainingDelete" ><div class="btn btn-primary" >Delete</div></a>

</div>