@{
    ViewBag.Title = "Transformation";
    Layout = "~/Views/CoachShav/LayoutMaster.cshtml";
}

<h2>Transformation</h2>

<div class="container" style="background-image:url(~/images/contact.jpg)">
    
    <a href="/CoachShav/TransformationCreate"><div class="btn btn-primary">Upload Image</div></a>
    <a href ="/CoachShav/TransformationDelete" ><div class="btn btn-primary" >Delete Image</div></a>

</div>
