@{
    ViewBag.Title = "WellnessCreate";
    Layout = "~/Views/CoachShav/LayoutMaster.cshtml";
}

<h2>Wellness Upload</h2>





<!-- Registration form - START -->
<div class="container">
    <div class="row">
        <form role="form" action="/CoachShav/WellnessCreate" method="post">
            <div class="col-lg-6">
                <div class="well well-sm"><span class="glyphicon glyphicon-asterisk"></span>Required Field</div>
                <div class="form-group"> 
                    <label for="InputName">Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="Title" id="InputName" placeholder="Enter Title" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputName">Description</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="Description" id="InputEmail" placeholder="Enter Ingredients" required >
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputName">Duration</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="Duration" id="Inputcontact" placeholder="Duration for program"  required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputName">Video Link</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="VideoLink" id="Inputcontact2" placeholder="Enter Video Link here" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                 
             <input type="submit" name="submit" id="submit" value="Upload" class="btn btn-info pull-right">
            </div>
        </form>
        
    </div>
</div>