@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<!---banner--->
			<div class="banner wow fadeInDownBig animated animated" data-wow-delay="0.4s">
				<div class="container">
					<h2>Contact Us</h2>
				</div>
			</div>
	<div class="contact w3l">
       
            <div class="map wow fadeInUpBig animated animated" data-wow-delay="0.4s">
                <img src="~/images/contact.jpg" />
            </div>
				<div class="map-grids w3-agile">
			<div class="col-md-8 map-middle wow fadeInRight animated animated" data-wow-delay="0.4s">
				<form action="#" method="post">
										<input type="text" name="Name" placeholder="Name" required="">
										<input type="email" name="Email" class="email" placeholder="Email" required="">
										<input type="text" name="Message" class="email" placeholder="Service Required" required="">
										
										<textarea name="text area" placeholder="Message"></textarea>
										<input type="submit" value="Send">
									</form>
			</div>
			<div class="col-md-4 map-left wow fadeInLeft animated animated" data-wow-delay="0.4s">
				<h4>Address</h4>
				<ul>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> Office : 0041-456-3692</li>
					<li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> Mobile : 0200-123-4567</li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> <a href="#"><a href="mailto:info@example.com">info@example.com</a></a></li>
					<li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> Fax : 0091-789-456100</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- //map
